


:root{
    --black-hsl: 29.47, 47.9%, 23.33%;
    --lightAccent-hsl: 32.73, 17.46%, 87.65%;
}

body {
    background: hsla(var( --lightAccent-hsl)) ;
    color: hsla(var( --black-hsl));
    margin: 0;
}

div {
    display: grid;
}

a{
    color: unset;
    text-decoration: none;
    cursor: pointer;
}

h1{
    font-weight: unset;
}

.container{
    max-width: 1400px;
    margin: auto;
}

.headerContainer{
    max-width: 1400px;
    margin: auto;
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: space-between;
}


.header {
   
    position: fixed;
    left: 0;
    top: 0;
    height: 100px;
    width: 100vw;
    background: hsla(var( --lightAccent-hsl)) ;
    color: hsla(var( --black-hsl));
    font-family: "Cormorant Garamond", serif;
}

.content {
    margin-top: 150px;
}

.hero {
    display: flex;
 
}
    

.hero .image {
    width: 50%;
}

.hero .image img{
    width: 100%;
    max-width: 500px;
}

.hero .text {
    width: 50%;
    font-family: "Cormorant Garamond", serif;

    /* padding-left: 100px; */
}

.posts {
    max-width: 1140px;
}

.post {
    display: flex;
    margin: 15px;
}

.post img {
    width: 30%;
}

.post-body {
    margin: 15px;
}

.footer {
    height: 100px;
    width: 100vw;
    background-color: #383838;
    margin-top: 125px;
}

.footer .content {
    max-width: 1400px;
    margin: auto;
    height: 100%;
}

.copyright {
    color: #ffc700;
    font-family: "Cormorant Garamond", serif;
    font-size: 1.5em;
}


@media (max-width: 768px) {
    .hero {
        display: block;
    }
    .hero .image {
        width: 100%;
    }

    .hero .text {
        width: 100%;
        font-family: "Cormorant Garamond", serif;
    
        /* padding-left: 100px; */
    }
}